<!DOCTYPE html>
<html lang="en">
<title>可信摄像头演示界面</title>

<meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">

<head>
    <link href="../static/css/bootstrap_my.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/video-js.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/css/xterm.css"  />
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bili.css" />
    <script src="../static/js/ZLMRTCClient.js" type="text/javascript"></script>
    <script src="../static/js/xterm.js" type="text/javascript"></script>
    <script> var exports = {}; </script>
    <script src="../static/js/FitAddon.js"></script>
    <script src="../static/js/xterm-addon-fit.js" type="text/javascript"></script>
    <style>
        /* 增加鼠标移入，元素上移效果 */
        div.my-btn:hover {
            transform: translateY(-8px);
            color:#4083b9; 
        }
    </style>
</head>

<body style="height: 100%;">
    <div class="container-fluid">
        <!-- 标题栏 -->
        <div class="row justify-content-md-center">
            <div style="background-color: #2196f3; width: 100%; height: 3vh;">
            </div>
            <div
                style="width: 100%; height: 5vh; text-align: justify; color:#074579; font-size: 4.5vmin; letter-spacing: 1.5vmin;justify-content:center; display: flex; margin-top: 15px; border-radius: 15px ;">
                可信摄像头演示界面</div>
            <div style="background-color: #9DC3E6; width: 100%; height: 3vh;margin-top: 1vh;">
            </div>
        </div>
        <div class="row justify-content-md-center">
            <!-- 侧面按钮区 -->
            <div class="col-md-1 " style="background-color:#f1f7fc;margin-left: 0;height: 86vh;">

                <div class="btn-group-vertical" style="width: 70%;margin-top: 15vh;margin-left:15%;">

                    <div class="my-btn" id="startVideoBt" style="width: 100%
                    ;height:10vh;justify-items: center;">
                        <!-- <div style="width: 100px;height: 100px;border: 1px solid rgb(255, 113, 113);"></div> -->
                        <img id="startVideoIcon" src="../static/img/监控.png" style="width: 80%;margin-left: 10%;">
                        <div id="startVideoText" style="color:black;text-align: center;font-size: 1.5vmin;margin-top: 0.5vh;">查看监控</div>
                    </div>
                    <div class="my-btn" id="stopVideoBt" style="width: 100%
                    ;height:10vh;justify-items: center;margin-top: 2.5vh;">
                        <!-- <div style="width: 100px;height: 100px;border: 1px solid rgb(255, 113, 113);"></div> -->
                        <img id="stopVideoIcon" src="../static/img/停止播放.png" style="width: 80%;margin-left: 10%;">
                        <div id="stopVideoText" style="color:black;text-align: center;font-size: 1.5vmin;margin-top: 0.5vh;">停止查看</div>
                    </div>

                    <div class="my-btn" id="startAuthBt" style="width: 100%
                    ;height:10vh;justify-items: center;margin-top: 2.5vh;">
                        <!-- <div style="width: 100px;height: 100px;border: 1px solid rgb(255, 113, 113);"></div> -->
                        <img id="startAuthIcon" src="../static/img/认证.png" style="width: 80%;margin-left: 10%;">
                        <div id="startAuthText" style="color:black;text-align: center;font-size: 1.5vmin;margin-top: 0.5vh;">开始认证</div>
                    </div>
                    <div class="my-btn" id="endAuthBt" style="width: 100%
                    ;height:10vh;justify-items: center;margin-top: 2.5vh;">
                        <img id="endAuthIcon" src="../static/img/停止认证.png" style="width: 80%;margin-left: 10%;">
                        <div id="endAuthText" style="color:black;text-align: center;font-size: 1.5vmin;margin-top: 0.5vh;">停止认证</div>
                    </div>

                    <div class="my-btn" id="returnBt" style="width: 100%
                    ;height:10vh;justify-items: center;margin-top: 2.5vh;">
                            <img src="../static/img/返回.png" style="width: 80%;margin-left: 10%;">
                            <div style="color:black;text-align: center;font-size: 1.5vmin;margin-top: 0.5vh;">返回</div>
                    </div>
                </div>
            </div>
            <!-- 主区 -->
            <div class="col-md-11" style="margin-left: 0;">
                <!-- 状态栏 -->
                <div class="row " style="height: 15vh;">
                    <div class="col-md-4 ">
                        <div class="url-input" style="height: 7vh;margin-top:9vh">
                            <img src="../static/img/状态.png" style="width: 6vh;height: 6vh;margin-left: 3vh;">
                            <label
                                style="height: 4vh;font-size: 2.5vmin;margin-top: 2vh;margin-left: 1vh;color:#074579; ">&ensp;摄像头状态:&ensp;</label>
                            <label id="status" style="height: 4vh;font-size: 2.5vmin;margin-top: 2vh; color:#074579; "></label>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div id="currentTime" style="height: 5vh;margin-top:11vh;font-size: 2.5vmin;color:#4083b9; "></div>
                        <!-- 当前时间
                        <div id="currentTime">

                        </div> -->
                    </div>
                    
                </div>

                <div class="row justify-content-md-center" style="margin-top: 15px">
                    <!-- 视频区 -->
                    <div class="col-md-6 " style="height: 60vh;">
                        <video id='video' style=" width:100%; height:90%; margin-top:2%"
                            class="video-js vjs-default-skin" controls autoplay>
                            Your browser is too old which doesn't support HTML5 video.
                        </video>
                    </div>
                    <!-- 控制台区 -->
                    <div class="col-md-6" style="height: 60vh;">
                        <div style=" width:100%; height:90%; margin-top:2%">
                            <!-- 控制台头 -->
                            <div style=" border-style: solid;width:100%; height:8%;display: flex;">
                                <img src="../static/img/控制台.png" style="height: 95%;margin-left: 2%;">
                                <div style="text-align: center;font-size: 2vmin;height: 100%;margin-left: 2%;display: flex;text-align: center;align-items: center;">用户控制台</div>
                            </div>
                            <div id="terminal" style=" background-color: black;width:100%; height:92%;color: white;">
                    
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script src="../static/js/myfun.js" type="text/javascript"></script>
<script src="../static/js/terminal.js"></script>  

</html>